.slide {
    display: flex;
    flex-shrink: 0;
}

.mySwipe {
    margin: 0 auto;
}
.mySwipeItem {
    font-weight: bold;
    color: #14ADE5;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 100px 10px;
    box-shadow: 0 1px #EBEBEB;
    background: #fff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}
